html
  head
    link(
      rel='stylesheet'
      type='text/css'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'
    )
    style.
      th {
        text-align: center;
      }

      td {
        text-align: center;
        min-width: 100px;
      }

      .sortable-heading {
        cursor: pointer;
      }

      .sortable-heading-field {
        margin-right: 5px;
      }
  body
    div#leaderboard
    script(src='leaderboard_bundle.js' type='text/javascript')
