.divider {
    border: 1px solid #CCCCCC;
    height: 1px;
    width: 100%
}

.chart-row {
    flex: 2;
    overflow: visible;
}

.chart-container {
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    height: 100%;
    padding-top: 50px;
}
