.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
    height: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0
}